<md-dialog aria-label="Order list" ng-controller="OrderController as vm"
           xmlns:status="http://www.w3.org/1999/xhtml">

    <growl-notification ng-show="vm.showSuccessAssignOrder">
        Order {{vm.numberProcessingOrder}} assigned to you
    </growl-notification>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Order lists</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.onCloseClick()">
                <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <div class="table-responsive" ng-show="vm.userProps.role === 'Customer'">
                <table class="table table-hover sticky-header">
                    <thead>
                    <tr>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-bookmark">
                                <md-tooltip>
                                    Id
                                </md-tooltip>
                            </span>
                        </th>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-stats">
                                <md-tooltip>
                                    Status
                                </md-tooltip>
                            </span>
                        </th>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-usd">
                                <md-tooltip>
                                    Price
                                </md-tooltip>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in vm.orders | ordererId: vm.userProps.userId">
                        <td>{{::order.id}}</td>
                        <td>{{order.status === 'Pause' || order.status === 'Assigned' || order.status === 'Accepted' || order.status === 'Realize' ? 'Processed' : order.status}}</td>
                        <td>{{::order.totalCost}}</td>
                        <td>
                            <a href="/invoice/{{order.id}}" ng-if="order.status === 'Completed'">
                                <span class="glyphicon glyphicon-save-file">
                                    <md-tooltip>
                                        Download invoice
                                    </md-tooltip>
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive" ng-show="vm.userProps.role !== 'Customer'">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-bookmark">
                                <md-tooltip>
                                    Id
                                </md-tooltip>
                            </span>
                        </th>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-stats">
                                <md-tooltip>
                                    Status
                                </md-tooltip>
                            </span>
                        </th>
                        <th class="glyphicons">
                            <span class="glyphicon glyphicon-usd">
                                <md-tooltip>
                                    Price
                                </md-tooltip>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in vm.orders | status: 'Accepted' : vm.userProps.role">
                        <td>{{::order.id}}</td>
                        <td>{{::order.status}}</td>
                        <td>{{::order.totalCost}}</td>
                        <td>
                            <a href="" ng-show="vm.userProps.role !== 'Warehouseman' && order.status !== 'Cancelled'" name="verifyOrder" ng-click="vm.verifyOrder($event, order.id)">
                                <span class="glyphicon glyphicon-edit">
                                    <md-tooltip>
                                    Verify order
                                    </md-tooltip>
                                </span>
                            </a>
                            <a href="" ng-show="vm.userProps.role === 'Warehouseman'" name="assignOrder" ng-click="vm.showSuccessAssignOrder = false; vm.processOrder($event, order, true)">
                                <span class="glyphicon glyphicon-play">
                                    <md-tooltip>
                                    Realize order
                                    </md-tooltip>
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-raised" ng-click="vm.onCloseClick()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
